# macOS
.DS_Store

# IDE
.vscode/
.idea/

# Terraform / OpenTofu
.terraform/
*.tfstate
*.tfstate.backup
*.tfstate.*
.terraform.lock.hcl
**/.terraform/*

# Terragrunt
*.terragrunt-cache
**/.terragrunt-cache/*

# Kubernetes
kubeconfig

# Logs
*.log

# Env files
.env
